body {
	margin: 0 auto;
}

ul li {
	float: left;
	list-style-type: none;
	width: 5.5em;
	height: 4.4em;
	z-index: -10;
}

ul li:hover span {
	display: inline;
	float: right;
	color: #000;
}

body {
    font-family: "Futura-CondensedMedium";
}

ul li i {
    font-size: 2em;
}

@media print{@page {size: landscape}}

